[submodule "baselines/openpi/third_party/openpi"]
	path = baselines/openpi/third_party/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "baselines/InternVLA-A1/third_party/InternVLA-A1"]
	path = baselines/InternVLA-A1/third_party/InternVLA-A1
	url = https://github.com/InternRobotics/InternVLA-A1
