[submodule "baselines/baselines/openpi"]
	path = baselines/baselines/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
[submodule "baselines/openpi"]
	path = baselines/openpi
	url = https://github.com/Physical-Intelligence/openpi.git
